:root {
	--main-color: #1e1e34;
	--p: #1e1e34dd;
	--transition: 0.3s;
	--answer-transition: 0.7s;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

body {
	background: linear-gradient(#af68ea, #6462e7);
	font-family: roboto, arial, sans-serif;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 0 1rem;
}

.accordion {
	max-width: 800px;
	border-radius: 1rem;
	background-color: white;
	display: flex;
	position: relative;
	box-shadow: 0 10px 20px rgb(0, 0, 0, 30%);
}

@media (max-width: 900px) {
	.accordion {
		margin-top: 100px;
		flex-direction: column;
		max-width: 400px;
	}
}

.image {
	z-index: 1;
	flex: 1;
	position: relative;
	overflow: hidden;
}

@media (max-width: 900px) {
	.image {
		overflow: unset;
		height: 100px;
		flex: unset;
	}
}

.image .illustration.desktop {
	position: absolute;
	top: 50%;
	transform: translate(-60px, -50%);
	width: 100%;
}

.image .shadow.desktop {
	position: absolute;
	top: 50%;
	transform: translate(-60px, -50%);
	z-index: -1;
	width: 100%;
}

.image .illustration.mobile {
	display: none;
}

.image .shadow.mobile {
	display: none;
}

@media (max-width: 900px) {
	.image .illustration.desktop,
	.image .shadow.desktop {
		display: none;
	}

	.image .illustration.mobile {
		display: unset;
		position: absolute;
		left: 50%;
		width: 70%;
		transform: translate(-50%, -60%);
	}

	.image .shadow.mobile {
		display: unset;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 70%;
	}
}

.box {
	position: absolute;
	max-width: 130px;
	left: 0;
	top: 50%;
	transform: translate(-50%, -20%);
	z-index: 1;
}

.box img {
	width: 100%;
}

@media (max-width: 900px) {
	.box {
		display: none;
	}
}

.content {
	flex: 1;
	padding: 2rem 4rem 2rem 0;
	color: var(--main-color);
}

@media (max-width: 900px) {
	.content {
		padding: 2rem 1rem;
	}
}

.title {
	text-transform: uppercase;
	margin-bottom: 1rem;
}

@media (max-width: 900px) {
	.title {
		text-align: center;
		font-size: 2rem;
	}
}

.questions .qst {
	position: relative;
	border-bottom: 1px solid #ccc;
	padding: 0.5rem 1rem 0.5rem 0;
	margin-bottom: 1rem;
}

.questions .qst:hover .question {
	font-weight: bold;
	color: #e69077;
	cursor: pointer;
}

.questions .qst.active .answer-container {
	max-height: 200px;
}

.questions .qst.active .question {
	font-weight: bold;
	color: #e69077;
}

.questions .qst.active .down {
	transform: rotate(180deg);
}

.question {
	font-size: 0.8rem;
	transition: var(--transition);
}

.answer-container {
	max-height: 0;
	overflow: hidden;
	transition: var(--answer-transition);
}

.answer-container p {
	font-size: 0.8rem;
	margin-top: 1rem;
	color: var(--p);
}

.down {
	position: absolute;
	right: 0;
	top: 15px;
	transition: var(--answer-transition);
}
